@using HomebrewDesigner.Core.DTO
@model HomebrewDesigner.ViewModels.RecipeVM


<div class="container mt-5 text-center">
    <h1 class="display-2 mb-3 text-main">Add Recipe:</h1>
    <div class="container text-center mt-5 bg-secondary rounded-5 pe-5 pt-3">
        <form id="fermentablesForm" asp-action="AddFermentables" asp-controller="Recipe" method="post">
            <h1 class="display-6 mb-3 text-main">Fermentables:</h1>
            <div class="container">
                <div class="col d-flex">
                    <div class="col m-2">
                        <label asp-for="FermentableId" class="text-main">Fermentable</label>
                        <select class="form-select m-2 bg-secondary text-main" asp-for="FermentableId[0]" required>
                            <option selected disabled value="">Fermentable</option>
                            @foreach (FermentableResponse fermentable in Model.FermentableList)
                            {
                                <option value="@fermentable.Id">@fermentable.Name</option>
                            }
                        </select>
                        
                    </div>
                    <div class="col-2 m-2">
                        <label asp-for="FermentableWeight[0]" class="text-main">Weight</label>
                        <input class="form-control m-2 bg-secondary text-main" asp-for="FermentableWeight[0]" placeholder="lbs" type="number"  required/>
                        @* <span asp-validation-for="FermentableId[0]" class="text-validation" ></span> *@
                        
                    </div>
                </div>
                <div class="ferm-container"></div>
                <a class="btn btn-main add-fermentable text-green">+</a>
            </div>
            <div class="pb-4">
                <button class="btn btn-main text-green mt-3" type="submit">Next: Hops -----></button>
            </div>
        </form>


        <div class="fermentable-template" style="display: none;">
            <div class="col d-flex">
                <div class="col m-2">
                    <label asp-for="FermentableId" class="text-main">Fermentable</label>
                    <select class="form-select m-2 bg-secondary text-main" asp-for="FermentableId" required>
                        <option selected disabled value="">Fermentable</option>
                        @foreach (FermentableResponse fermentable in Model.FermentableList)
                        {
                            <option value="@fermentable.Id">@fermentable.Name</option>
                        }
                    </select>
                </div>
                <div class="col-2 m-2">
                    <label asp-for="FermentableWeight" class="text-main bg-secondary">Weight</label>
                    <input class="form-control m-2 bg-secondary text-main" asp-for="FermentableWeight" placeholder="lbs" type="number" required/>
                </div>
            </div>
        </div>
        @foreach(var error in ViewData.ModelState.Values.SelectMany(x => x.Errors))
        {
            <div class="text-validation">@error.ErrorMessage</div>
        }
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
         
            let fermentableIndex = @Model.Recipe.MaltBill.Count;

            document.querySelector(".add-fermentable").addEventListener("click", function (event) {
                event.preventDefault();

                let template = document.querySelector(".fermentable-template").cloneNode(true);

                fermentableIndex++;

                let selectElement = template.querySelector("select");
                selectElement.setAttribute("asp-for", `FermentableId[${fermentableIndex}]`);

                selectElement.name = `FermentableId[${fermentableIndex}]`;
                selectElement.removeAttribute("multiple");

                let inputElement = template.querySelector("input");
                inputElement.setAttribute("asp-for", `FermentableWeight[${fermentableIndex}]`);

                inputElement.name = `FermentableWeight[${fermentableIndex}]`;
                inputElement.value = "";

                template.style.display = "block";

                document.querySelector(".ferm-container").appendChild(template);
            });
        });
    </script>
</div>