@model HomebrewDesigner.Core.DTO.YeastUpdateRequest
@{
    ViewBag.Title = "Edit Yeast";
}
<body>
<div class="container text-center mt-5 bg-secondary rounded-5 pe-5 pt-3">
    <h1 class="display-2 pb-3 text-main">Edit Yeast</h1>
    <form asp-controller="Ingredient" asp-action="EditYeast" method="post" id="form">
        <div class="mb-3 d-flex visually-hidden">
            <div class="col-3">
                <label asp-for="Id" class="form-label text-main">
                    <h5>Id:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control bg-main text-main" asp-for="Id" required>
                <span class="text-validation" asp-validation-for="Id"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Name" class="form-label text-main ">
                    <h5>Name:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control bg-main text-main bg-secondary" asp-for="Name">
                <span class="text-validation" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="mb-3 d-flex ">
            <div class="col-3">
                <label asp-for="Lab" class="form-label text-main">
                    <h5>Lab:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control bg-main text-main bg-secondary" asp-for="Lab">
                <span class="text-validation" asp-validation-for="Lab"></span>
            </div>
        </div>
        <div class="mb-3 d-flex ">
            <div class="col-3">
                <label asp-for="Code" class="form-label text-main">
                    <h5>Code:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control bg-main text-main bg-secondary" asp-for="Code">
                <span class="text-validation" asp-validation-for="Code"></span>
            </div>
        </div>
        <div class="mb-3 d-flex ">
            <div class="col-3">
                <label asp-for="Type" class="form-label text-main">
                    <h5>Type:</h5>
                </label>
            </div>
            <div class="col-9">
                <select class="form-select w-100 bg-main text-main bg-secondary" asp-for="Type">
                    @foreach (var type in ViewBag.Types)
                    {
                        if (type == Model.Form.ToString())
                        {
                            <option selected value="@type">@type</option>
                        }
                        else
                        {
                            <option value="@type">@type</option>
                        }
                    }
                </select>
                <span class="text-validation" asp-validation-for="Type"></span>
            </div>
        </div>
        <div class="mb-3 d-flex ">
            <div class="col-3">
                <label asp-for="Form" class="form-label text-main">
                    <h5>Form:</h5>
                </label>
            </div>
            <div class="col-9">
                <select class="form-select w-100 bg-main text-main bg-secondary" asp-for="Form">
                    @foreach (var form in ViewBag.Forms)
                    {
                        if (form == Model.Form.ToString())
                        {
                            <option selected value="@form">@form</option>
                        }
                        else
                        {
                            <option value="@form">@form</option>
                        }
                    }
                </select>
                <span class="text-validation" asp-validation-for="Form"></span>
            </div>
        </div>
        <div class="mb-3 d-flex ">
            <div class="col-3">
                <label asp-for="Flocculation" class="form-label text-main">
                    <h5>Flocculation:</h5>
                </label>
            </div>
            <div class="col-9">
                <select class="form-select w-100 bg-main text-main bg-secondary" asp-for="Form">
                    @foreach (var floc in ViewBag.Flocs)
                    {
                        if (floc == Model.Flocculation.ToString())
                        {
                            <option selected value="@floc">@floc</option>
                        }
                        else
                        {
                            <option value="@floc">@floc</option>
                        }
                    }
                </select>
                <span class="text-validation" asp-validation-for="Flocculation"></span>
            </div>
        </div>
        <div id="loader" class="visually-hidden mt-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="text-center mt-5 pb-5" id="buttonDiv">
            <button type="submit" class="btn btn-main text-validation">Update Yeast</button>

        </div>
    </form>
</div>
</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}