@model IEnumerable<HomebrewDesigner.Core.DTO.FermentableResponse>

@{
    ViewBag.Title = "Fermentables";
}

<div class="container mt-5 text-center">
    <h1 class="display-2 text-main">Ingredients: Fermentables</h1>
    <div class="container rounded-5 bg-secondary p-3 mt-4">
        <h1 class="display-6 text-main">Search Fields</h1>
        <form asp-action="Fermentables" asp-controller="Ingredient" method="get">
            <div class="mb-1">
                <label for="fermentablesSelect" class="form-label text-main">Search Text:</label>
                <select class="form-select bg-main text-main" id="fermentablesSelect" aria-label="Fermentables Search Fields" name="searchBy">
                    <option selected disabled>Property</option>
                    @foreach (KeyValuePair<string, string> item in ViewBag.SearchFields)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="searchString" class="form-label text-main">Search String:</label>
                <input type="text" class="form-control bg-main text-main" id="searchString" name="searchString" placeholder="Search String">
            </div>
            <button type="submit" class="text-main btn btn-main">Search</button>
            <a class="text-main text-decoration-none btn btn-main" asp-controller="Ingredient" asp-action="Fermentables">Clear</a>
        </form>
    </div>
    <div class="bg-secondary p-5 rounded-5 mt-5 container">
        <div class="container text-center mb-3">
            <a class="btn btn-main text-main p-2" asp-controller="Ingredient" asp-action="AddFermentable">Add Fermentable</a>
        </div>
        <h1 class="display-6 text-main">Fermentables</h1>
        <table class="table text-main overflow-scroll">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Origin</th>
                <th scope="col">Color</th>
                <th scope="col">Potential Gravity</th>
                <th scope="col">Max In Batch %</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var ferm in Model)
            {
                <tr>
                    <td class="text-green">@ferm.Name</td>
                    <td>@ferm.Type</td>
                    <td>@ferm.Origin</td>
                    <td>@ferm.Color</td>
                    <td>@ferm.PotentialGravity</td>
                    <td>@ferm.MaxInBatch</td>
                    <td>
                        <a class="text-green" asp-controller="Ingredient" asp-action="EditFermentable" asp-route-Id="@ferm.Id">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="container mt-3 text-center">
    <a class="btn btn-main text-main p-2" asp-controller="Ingredient" asp-action="AddFermentable">Add Fermentables</a>
</div>