@model IEnumerable<HomebrewDesigner.Core.DTO.HopResponse>

@{
    ViewBag.Title = "Hops";
}


<div class="container mt-5 text-center">
     <h1 class="display-2 text-main">Ingredients: Hops</h1>
    <div class="container rounded-5 bg-secondary p-3 mt-4">
       <h1 class="display-6 text-main">Search Fields</h1>
        <form asp-action="Hops" asp-controller="Ingredient" method="get">
            <div class="mb-1">
                <label for="hopsSelect" class="form-label text-main">Search Text:</label>
                <select class="form-select bg-secondary text-main" id="hopsSelect" aria-label="Hops Search Fields" name="searchBy">
                    <option selected disabled>Property</option>
                    @foreach (KeyValuePair<string, string> item in ViewBag.SearchFields)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="searchString" class="form-label text-main">Search String:</label>
                <input type="text" class="form-control bg-secondary text-main" id="searchString" name="searchString" placeholder="Search String">
            </div>
            <button type="submit" class="text-main btn btn-main">Search</button>
            <a class="text-main text-decoration-none btn btn-main" asp-controller="Ingredient" asp-action="Hops">Clear</a>
        </form>
    </div>
    <div class="bg-secondary p-5 rounded-5 mt-5 container">
        <div class="container text-center mb-3">
                    <a class="btn btn-main text-main p-2" asp-controller="Ingredient" asp-action="AddHop">Add Hop</a>
                </div>
        <h1 class="display-6 text-main">Hops</h1>
        <table class="table text-main overflow-scroll">
            <thead>
            <tr>
                <th>Ingredient Type</th>
                <th scope="col">Name</th>
                <th scope="col">Alpha Acid Percentage</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var hop in Model)
            {
                <tr>
                    <td><img class="hops-img" src="~/images/hop.png"/></td>
                    
                    <td class="text-green">@hop.Name</td>
                    <td>@hop.AlphaAcid</td>
                    <td>
                        <a class="text-green" asp-controller="Ingredient" asp-action="EditHop" asp-route-Id="@hop.Id">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="container mt-3 text-center">
    <a class="btn btn-main text-main p-2" asp-controller="Ingredient" asp-action="AddHop">Add Hop</a>
</div>