@model IEnumerable<HomebrewDesigner.Core.DTO.YeastResponse>

@{
    ViewBag.Title = "Yeast";
}


<div class="container mt-5 text-center">
    <h1 class="display-2 text-main">Ingredients: Yeast</h1>
    <div class="container rounded-5 bg-secondary p-3 mt-4 ">
        <h1 class="display-6 text-main">Search Fields</h1>
        <form asp-action="Yeast" asp-controller="Ingredient" method="get">
            <div class="mb-1">
                <label for="yeastSelect" class="form-label text-main">Search Text:</label>
                <select class="form-select bg-secondary text-main" id="yeastSelect" aria-label="Yeast Search Fields" name="searchBy">
                    <option selected disabled>Property</option>
                    @foreach (KeyValuePair<string, string> item in ViewBag.SearchFields)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="searchString" class="form-label text-main">Search String:</label>
                <input type="text" class="form-control bg-secondary text-main" id="searchString" name="searchString" placeholder="Search String">
            </div>
            <button type="submit" class="btn btn-main text-main">Search</button>
            <a class="text-main text-decoration-none btn btn-main" asp-controller="Ingredient" asp-action="Yeast">Clear</a>
        </form>
    </div>
    <div class="bg-secondary p-5 rounded-5 mt-5 container">
        <div class="container text-center mb-3">
                    <a class="btn btn-main text-main p-2" asp-controller="Ingredient" asp-action="AddYeast">Add Yeast</a>
                </div>
        <h1 class="display-6 text-main">Yeast</h1>
        <table class="table overflow-scroll text-main">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Lab</th>
                <th scope="col">Code</th>
                <th scope="col">Type</th>
                <th scope="col">Form</th>
                <th scope="col">Flocculation</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var yeast in Model)
            {
                <tr>
                    <td class="text-green">@yeast.Name</td>
                    <td>@yeast.Lab</td>
                    <td>@yeast.Code</td>
                    <td>@yeast.Type</td>
                    <td>@yeast.Form</td>
                    <td>@yeast.Flocculation</td>
                    <td>
                        <a class="text-green" asp-controller="Ingredient" asp-action="EditYeast" asp-route-Id="@yeast.Id">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="container mt-3 text-center">
    <a class="btn btn-main p-2 text-main" asp-controller="Ingredient" asp-action="AddYeast">Add Yeast</a>
</div>